$blue: #002147;
body{
  
  margin: 0;
  font-family: 'Lato', sans-serif;
  
  input{
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 22px;
    
    &.btn-primary{
      height: 32px;
      background: $blue;
      padding: 1%;
      color: white;
    }
  }
  
  #register{
    color: black;
    text-decoration: none;  
  }
  
  #menu{
    overflow:hidden;
    background: $blue;
    padding: 10px;
    
      .navbar-nav{
      list-style:none;
      
      li{
        float: right;
        margin-right: 20px;
        a{
          color: white;
          text-decoration: none;
        }
        
        &#logo{
          margin-top: -12px;
          float:left;
        }
      }
    }
    
    .uppercase{
      text-transform: uppercase;
    }  
  }
  
 
 .container{
   padding: 0 10% 0 10%;
 }
 
 #home-banner{
   width: 100%;
   height: 350px;
   background-image: url('/media/utep.jpg');
   overflow: hidden;
   background-size: 100%;
  background-position: 40%;
 }

  #welcome-message{
    color: white;
    font-size: 5em;
    text-shadow: 2.5px 2.5px 2.5px #2a2a2a;
  }
  
.centered-form {
  padding: 50px;
  width: 70%;
  margin: 50px auto 50px auto;
  text-align: center;
}
.gray-background {
  background: #f2f2f2;
}
.round-box {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
  
}



#hello-message{
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: 135px;
}

.col-4{
  width: 33.33333333333333%;
  display: inline-block;
  overflow: hidden;
}


.item-img{
  height: 17em;
  
}

#cart{
  position: absolute;
  right: 0;
  margin-right: 89px;
  top: 0;
  margin-top: 7px;
  
  a{
    
    img{
      width: 86%;
    }
   
   #number-of-items-in-cart{
     &:hover{
        display: inline-block;
          color: black;
        background: yellow;
     }
      display: none;
    
    }
  }
  
}


#admin-menu{
  overflow: hidden;

  ul{
      list-style: none;
      float: right;
      
      li{
        display: inline;
        margin-left: 10px;
        a{
          color: black;
          text-decoration: none;
        }
      }
  }
}


}

